@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --ff-default: 'Ubuntu', sans-serif;
  
  
    --clr-primary: #ff9200;
    --clr-secondary: #f2ece6;
    --clr-accent: white
}


.menu-desktop .active {
    color: var(--clr-primary);    
}

 
.menu-mobile .active {
background-color: var(--clr-primary);
color: white;
opacity: 1;
} 

button:disabled {
    opacity: .5;
    cursor: not-allowed;
}

.popout {
    animation: popout .5s ease;
    -webkit-animation: popout .5s ease;
  }
  
  .close {
    animation: close .5s ease;
    -webkit-animation: close .5s ease;
  }
  
  @keyframes close {
    from{transform:scale(1)}
    80%{transform:scale(1.2)}
    to{transform:scale(0)}
  }
  @-webkit-keyframes close {
    from{-webkit-transform:scale(1)}
    80%{-webkit-transform:scale(1.2)}
    to{-webkit-transform:scale(0)}
  }
  
  
  @keyframes popout {
    from{transform:scale(0)}
    80%{transform:scale(1.2)}
    to{transform:scale(1)}
  }
  @-webkit-keyframes popout {
    from{-webkit-transform:scale(0)}
    80%{-webkit-transform:scale(1.2)}
    to{-webkit-transform:scale(1)}
  }


.slide-in {
    -webkit-animation: slide-in 1s forwards;   
    animation: slide-in 1s forwards;    
}

@-webkit-keyframes slide-in {
  0% {
    position: absolute;
    right: -100%;
    
  }
  100% { 
    right: 0; 
    position: relative;     
  }
}

@keyframes slide-in {
    0% {
      position: absolute;
      right: -100%;
      
    }
    100% { 
      right: 0; 
      position: relative;     
    }
}


.slide-out {
  -webkit-animation: slide-out 1s forwards;   
  animation: slide-out 1s forwards;    
}

@-webkit-keyframes slide-out {
  0% {
    right: 0; 
    position: relative
    
  }
  100% { 
    position: absolute;
    right: -100%;   
  }
}

@keyframes slide-out {
  0% {
    right: 0; 
    position: relative
    
  }
  100% { 
    position: absolute;
    right: -100%;   
  }
}