/*** The new CSS Reset - version 1.2.0 (last updated 23.7.2021) ***/

/* Remove all the styles of the "User-Agent-Stylesheet", except for the 'display' property */
*:where(:not(iframe, canvas, img, svg, video):not(svg *)) {
  all: unset;
  display: revert;
}

/* Preferred box-sizing value */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/*
  Remove list styles (bullets/numbers)
  in case you use it with normalize.css
*/
ol, ul {
  list-style: none;
}

/* For images to not be able to exceed their container */
img {
  display: block;
  max-width: 100%;
}

/* Removes spacing between cells in tables */
table {
  border-collapse: collapse;
}

/* Revert the 'white-space' property for textarea elements on Safari */
textarea {
  white-space: revert;
}

:root {
  --ff-default: 'Ubuntu', sans-serif;

  --fs-default: 1rem;
  --fs-small: calc(var(--fs-default) * .85);
  --fs-medium: calc(var(--fs-default) * 1.25);
  --fs-big: calc(var(--fs-default) * 2);
  --fs-large: calc(var(--fs-default) * 3);
  --fs-xl: calc(var(--fs-default) * 5);

  --clr-primary: #ff9200;
  --clr-secondary: #f2ece6;
  --clr-accent: white
}

body {
  font-family: var(--ff-default);
  background-color: var(--clr-secondary);
}

.container {
  width: min(90rem, 90%);
  margin-inline: auto;
  padding-block: 2rem;
}

header, footer {
  padding: 3%;
  background-color: var(--clr-accent);
  display: flex;
  justify-content: space-between;
  text-align: center; 
  align-items: center;
  width: 100%;
}

footer {
  padding-block: 3rem;
}

footer h1 {
  margin-bottom: 3rem;
}

 footer h3 {
  margin-bottom: 2rem;
}

.footer-main-info {
  text-align: left;  
}

.footer-main-info ul, .menu-desktop ul {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.footer-main-info p, .btn-scroll-top{
  display: flex;
  align-items: center;
}

.footer-main-info a {
  color: var(--clr-primary);
  font-weight: 600;
}

.footer-main-info h3 {
  font-weight: 600;
  font-size: var(--fs-medium);
}

.footer-main-info a:hover {
  opacity: .7;
  cursor: pointer;
  transition: .5s ease-in-out;
}

.footer-main-info svg {
  fill: green;
}

header > * {
  flex-basis: 100%;
}

.logo {
  font-size: var(--fs-large);
  font-weight: 700;
  color: var(--clr-primary);
  font-style: italic;

}

.address {
  border-inline: 1px solid lightgray;
  padding-inline: 1rem;
  display: flex;
  align-items: center;
}

.address svg {
  fill: var(--clr-primary);
}

.split {
  display: flex;
  justify-content: center;
  align-items: start;

  gap: 2rem;
}


nav ul{
display: flex;
}

nav h1 {
  font-weight: 600;
  font-size: var(--fs-large);
  margin-bottom: 2rem;
  opacity: .8.5;
}

nav li {
  text-transform: uppercase;
  font-size: var(--fs-medium);
  font-weight: 500;
  opacity: .7;
}

nav li {
  transition: color .5s ease;
}

.menu-desktop li:hover {
  opacity: .6;
  cursor: pointer;
}

.menu-desktop {
  position: sticky;
  top: 0; 
  padding-block: 1rem;
}

.sf-wrapper {
  background-color: var(--clr-accent);
  padding: .5rem 1rem;
  border-radius: 1rem;
  border: 1px solid lightgray;
  display: flex;
  align-items: center;
  gap: .5rem;
  max-width: 30%;
  margin-left: auto;
  margin-top: 1rem;
  overflow: hidden;
}


.sf-wrapper svg{
  opacity: .7;
  min-width: 24px;
}

.menu-desktop .active {
  color: var(--clr-primary);
}


.menu-mobile li {
  padding: .5rem;
  border-radius: .5rem;
}

.menu-mobile .active {
  background-color: var(--clr-primary);
  color: white;
  opacity: 1;
}

.category-products {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

.product-container {
  display: flex;
  gap: .5rem;
  transition: all .5s ease-in-out;

}


.category-products li:hover {
  scale: 1.05;
  opacity: .7;
  cursor: pointer;
  transition: all .5s ease-in-out;
}

.div-img-product  {  
  position: relative;
  border-radius: 1rem; 
  flex-shrink: 0;
  width: 10rem;
}



.div-img-product img{
  height: 100%;
  object-fit: cover;
  border-radius: 1rem;
}

.price {
  font-weight: 700; 
  font-size: var(--fs-medium);

}

.product-weight-display{
  position: absolute;
  bottom: 0;
  right: 0;

}

.product-weight-display, .current-product-weight {
  font-size: var(--fs-small);
  color: var(--clr-primary);
  background-color: var(--clr-secondary);
  padding: .3rem;
  border-radius: .3rem;
  width: min-content;
  white-space: nowrap;
}

.category-products li h3 {
  font-size: var(--fs-medium);
  font-weight: 500;
  text-transform: capitalize;
  margin-bottom: 2rem;
}

.category-products li p {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1; /* number of lines to show */
          line-clamp: 1; 
  -webkit-box-orient: vertical;
  opacity: .7;
  margin-bottom: 1rem;
}

.product-main-info {
  background-color: var(--clr-accent);
  padding: 1.5rem;
  border-radius: 1rem;
}

section h2 {
  font-size: var(--fs-big);
  text-transform: uppercase;
  margin-block: 2rem;
  padding-block: 2rem;
}

.product-main-info-bottom {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}


.product-main-info-bottom svg, .btn-scroll-top svg {
  fill: var(--clr-primary);  
}

.btn-scroll-top {
  gap: .5rem;
  justify-content: center;
  background-color: var(--clr-secondary);
  padding: .7rem 1.5rem;
  border-radius: .5rem;
}

.btn-scroll-top:hover {
  opacity: .7;
  scale: 1.1;
  cursor: pointer;
  transition: all .5s ease-in-out;
}

.menu-mobile {
  position: sticky;
  top: 0;
  background-color: var(--clr-secondary);
  z-index: 11;  
}

.menu-mobile ul{
  display: none;
  padding-block: 1rem;
  gap: 1rem;    
}

.menu-mobile li {
  font-size: var(--fs-default);

}

.err-message {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  gap: 1rem;
}

.err-message h2 {
  font-size: var(--fs-big);
  font-weight: 500;
}

.err-message svg {
  max-width: 20%;
  margin-inline: auto;
}

.err-message p , .err-message svg {
  opacity: .7;
}

.current-product-img img{
  height: 100%;
  object-fit: cover;
}


.fullscreen-bg {
  width: 100vw;
  height: 100vh;
  position: fixed; 
  left: 0;
  top: 0;
  z-index: 111;
  background-color: rgba(0,0,0, 40%);
}

.current-product-bg {
  padding-top: 5%;
}

.current-product-info-wrapper {
  background-color: var(--clr-accent);
}

.current-product-info-wrapper {
  padding: 1rem;  
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}


.current-product-info {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-bottom: 1.5rem;

}


.current-product {
  z-index: 111;
  width: min(90%, 60rem);
  margin-inline: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0;
  grid-template-rows: 1fr;
  border-radius: 1rem !important;
  overflow: hidden;
  align-items: stretch;
}


.current-product p {
  opacity: .7;
}

.current-product-info h1, .btns, .btn-total, .product-main-info h2 ,.cart-product-main-info, .map-container-header{
  display: flex;
  align-items: center;
  justify-content: space-between;  
}

.cart-product-main-info {
  margin-top: 1rem;
}

.current-product-info h1, .map-container-header h1 {
  font-size: var(--fs-big);
  text-transform: capitalize;
  font-weight: 600;
}

.map-container-header h1 {
  font-size: var(--fs-medium);
}

.current-product-info h1 svg , .btn-quantity button svg {
  fill: var(--clr-primary); 
}

.current-product-info h1 svg:hover, .btn-quantity button:hover {
  cursor: pointer;
  opacity: .7;
}

.btns {  
  border-top: 1px solid lightgray;
  padding-top: 1.5rem;
}



.btn-total {
  background-color: var(--clr-primary);
  color: var(--clr-accent);
  padding: 1rem;
  border-radius: .7rem;
  font-weight: 600;  
  transition: all .5s ease; 
  z-index: 1;
  text-transform: capitalize;
}

.btn-total-main {
  position: fixed;
  right: 3%;
  bottom: 3%;
  padding: 1.5rem;
  min-width: 30%;
}

.btn-total:hover {
  scale: 1.1;
  cursor: pointer;
  transition: all .5s ease;
}

.btn-quantity {
  display: flex;
  gap: 1rem;
  align-items: center;
  font-size: var(--fs-big);
  
}

.btn-quantity h3 {
  color: grey;
}

.btn-quantity button {
  align-items: center;
}





.btn-quantity button:disabled svg {
  opacity: .5;
  cursor: not-allowed;
}

.cart {
  background-color: var(--clr-accent);
  max-width: 35%;
  margin-left: auto;
  height: 100%;
}

.cart-header svg {
  fill: var(--clr-primary);

}

.cart-header svg:hover, .cart-body svg:hover, .cart-body h2 svg:hover {
  cursor: pointer;
  opacity: .7;
}

.cart-body {
  max-height: 55%;
  overflow: scroll;
}

.cart-header , .cart-body, .cart-footer {
  padding: 2rem;
}

.cart-footer p {
  display: flex;
  justify-content: space-between;
  opacity: .5;
  margin-bottom: 1rem;
}

.btn-total-cart {
  width: 100%;
  justify-content: center;
}



.cart-body .div-img-product {
  max-width: 20%;
}

.cart-body .product-main-info {
  justify-content: space-between;
  padding: .5rem;
  width: 100%;
}


.cart-body .btn-quantity {
  font-size: var(--fs-default);
  gap: 0;
}

.cart-header {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid lightgrey; 
}

.cart-header h2 {
  font-size: var(--fs-big);
  font-weight: 500;
}

.product-main-info h2 svg {
  opacity: .7;
}

.cart-body .product-main-info h2 {
  text-transform: capitalize;
  font-size: var(--fs-medium);
  font-weight: 500;
}
.cart-body .product-main-info {
  justify-content: space-between;
}

.cart-body .product-container {
  border-bottom: 1px solid lightgray;
  padding-block: .5rem;
}

.cart-body .price {
  font-weight: 400;
  font-size: var(--fs-default);
} 

form {
  background-color: var(--clr-accent);
  padding-block: 1rem;
  border-radius: 1rem;
}

fieldset { 
  padding: 1rem;
}

fieldset:not(:last-child) {
  border-bottom: 1px solid lightgray;

}

legend {
  font-weight: 500;
  font-size: var(--fs-big);
  padding-block: 1rem;
}

.input-wrapper {
  display: flex;
  flex-direction: column;
  gap: .5rem;
  margin-bottom: 1rem;
}

.input-wrapper h3 {
  opacity: .7;
}

form input, textarea {
  background-color: var(--clr-secondary);
  padding: .5rem;
  border-radius: .5rem;
}

textarea {
  width: 100%;
}

.address-additional {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.order-conclusion-products li div{
  display: flex;
  text-transform: capitalize;
  font-weight: 500;
  justify-content: space-between;
  margin-bottom: .5rem;
}

.order-conclusion-products li {
  padding-block: 1rem;

}

.order-conclusion-products li:not(:last-child) {
  border-bottom: 1px solid lightgrey;

}

.weight {
  opacity: .7;
  font-size: var(--fs-small);
}


.split > *:last-child {
  flex-basis: 30%;
}

.order-footer {
  padding: 1rem;
}

.order-footer > * {
  margin-bottom: 1rem;
}

.order-footer button:last-child {
  text-align: center;
  margin-inline: auto;
  color: var(--clr-primary);
  font-size: var(--fs-medium);
  transition: all .5s ease;

}

.order-footer button:last-child:hover {
  scale: 1.1;
  cursor: pointer;
  transition: all .5s ease;
}


.order-conclusion .total {
  font-size: var(--fs-medium);
  font-weight: 500;
  display: flex;
  justify-content: space-between;
}

.current-product-img {
  position: relative;
}

.current-product-img svg {
  display: none;
  position: absolute;
  right: 2%;
  top: 2%;
}

.map, .leaflet-container { height: 20rem; width: 100%; }

.map-container{
  width: min(90%, 50rem);
  margin-inline: auto;
  background-color: var(--clr-accent);
  margin-top: 5%;
  overflow: hidden;
  border-radius: 1rem;
  padding: 1rem;
}

.map-container-body {
  justify-content: space-between;  
}

.map-container-body > div {
  max-width: 50%; 
}

.map-container input{
  background-color: var(--clr-secondary);
  padding: 1rem;
  border-radius: .5rem;
}


.map-container-header,.map-container-body {
  padding-block: 1rem;
}

.map-container-header {
  border-bottom: 1px solid lightgrey;
}

.map-container-header svg {
  fill: var(--clr-primary);
}


.search-results {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  max-height: 10rem;
  padding: .5rem;
  overflow-y: scroll;
  border-radius: 1rem;
}

.search-results li { 
  margin: .5rem;
  max-width: 100%;
  overflow: hidden;
  white-space: nowrap;
}

.search-results li:hover {
  color: var(--clr-primary);
  cursor: pointer;
}


@media (max-width: 40rem) {  
  .product-main-info p {
    display: none !important;
  }
}


@media (max-width: 50rem) {
  .current-product-img svg {
    display: inline
  }
  
  .category-products, .current-product {   
    grid-template-columns: 1fr;    
  }

   .category-products li > * {
    flex-basis: 100%;
    flex-shrink: 1;
    width: 100%;
  }
  
  .menu-desktop {
    display: none;
  }
  .sf-wrapper {
    max-width: 100%;
  }

  .menu-mobile ul{
    display: flex;
  }

  .div-img-product {
    width: 7rem;
  }

  .product-main-info {
    padding: 1rem;
    justify-content: space-between;
    display: flex;
    flex-direction: column;
  }

  .current-product-img {
    max-width: 100% !important;
   
  }
 
  .current-product-img img {
    width: 100%;
    
  }



  .footer-main-info .logo {
    display: none;
  }

  .footer-main-info {
    text-align: center;
  }
  footer {
    flex-direction: column;
    gap: 2rem;
  }

  #header-logo {
    grid-area: logo;
    text-align: left;
  }

  #header-address {
    grid-area: address;   
  }

  #header-login {
    grid-area: login;
    text-align: right;
  }
  .address {
    border-inline: none;
    border-top: 1px solid lightgray;
    width: 100%;
    padding-inline: 0;
    padding-top: 1rem;
    text-align: center;
  }

  header {
    padding: 2rem 1rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    grid-template-areas: 
    "logo login"
    "address address"
    ;
  }
  .logo {
    font-size: var(--fs-big);
    white-space: nowrap;
  }
 

  .current-product {
    grid-template-columns: 1fr;
    grid-template-rows: 40% 1fr;
    max-height: 80vh;
    
  }

  .current-product-info-wrapper {
  
  }

  .current-product-info h1 svg {
    display: none;
  }

  .current-product-info-wrapper {
    justify-content: flex-start;
  }

  .current-product-info {
    max-height: 50%;
    overflow: scroll;
  }

  .cart {
   
    max-width: 100%;
    margin-left: auto;
  
}

  .split {
    flex-direction: column;
  }

  .split > * {
    width: 100%;
  }


}



.popout {
  animation: popout .5s ease;
  -webkit-animation: popout .5s ease;
}

.close {
  animation: close .5s ease;
  -webkit-animation: close .5s ease;
}

@keyframes close {
  from{transform:scale(1)}
  80%{transform:scale(1.2)}
  to{transform:scale(0)}
}
@-webkit-keyframes close {
  from{-webkit-transform:scale(1)}
  80%{-webkit-transform:scale(1.2)}
  to{-webkit-transform:scale(0)}
}


@keyframes popout {
  from{transform:scale(0)}
  80%{transform:scale(1.2)}
  to{transform:scale(1)}
}
@-webkit-keyframes popout {
  from{-webkit-transform:scale(0)}
  80%{-webkit-transform:scale(1.2)}
  to{-webkit-transform:scale(1)}
}

